In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
combined_df = pd.read_csv('all_regions_full_data.csv')
display(combined_df)

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0_x,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,...,Last outcome category,Context,Outcome type,Postcode area,Postcode district,Average Income,Population,Unnamed: 0_y,Price,Total Population
0,0,0,0,3abf3c34562bf6a1c2cbdc8af2cf9b6c0c404802c0124b...,2022-01,Bedfordshire Police,Bedfordshire Police,-0.263240,51.598210,On or near St Alphage Walk,...,Action to be taken by another organisation,NaN,Action to be taken by another organisation,HA,HA8,51000.0,20.0,11.0,596580.752809,2448671.0
1,1,17024,17024,257966996ee507f48103ba1c9ab9f59cd6ed0cde80c3fa...,2022-01,Hertfordshire Constabulary,Hertfordshire Constabulary,-0.321994,51.575397,On or near Hospital,...,Unable to prosecute suspect,NaN,Unable to prosecute suspect,HA,HA1,66400.0,4.0,11.0,596580.752809,2448671.0
2,2,18997,18997,32e935327c4d6eaf0d9ac3dbf65e79200f19d09d817ef8...,2022-01,Hertfordshire Constabulary,Hertfordshire Constabulary,-0.332970,51.633526,On or near Heathbourne Road,...,Local resolution,NaN,Local resolution,HA,HA7,57700.0,79.0,11.0,596580.752809,2448671.0
3,3,19705,19705,7c37f0f2a77f64c06a3c98009563b856dae38e79ca6760...,2022-01,Hertfordshire Constabulary,Hertfordshire Constabulary,-0.333486,51.637976,On or near Clay Lane,...,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified,HA,HA7,54700.0,24.0,11.0,596580.752809,2448671.0
4,4,19706,19706,e7bd6553949004e3dd100db16cfc2606571a173bac3dc8...,2022-01,Hertfordshire Constabulary,Hertfordshire Constabulary,-0.329974,51.641550,On or near Elstree Road,...,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified,HA,HA7,54700.0,24.0,11.0,596580.752809,2448671.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1797959,1797959,2994638,2994638,85e3b037726b339b57712c69aec711b95f05bfd6d7f8b4...,2024-01,Thames Valley Police,Thames Valley Police,-1.654868,51.735958,On or near The Gassons,...,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified,GL,GL7,57400.0,8.0,9.0,433938.993304,3032.0
1797960,1797960,2994639,2994639,e24df3ac5800922fe41015060ee784895e1af752822803...,2024-01,Thames Valley Police,Thames Valley Police,-1.657134,51.736998,On or near Rouses Lane,...,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified,GL,GL7,57400.0,8.0,9.0,433938.993304,3032.0
1797961,1797961,2994640,2994640,7501d16fe678c09f45ff7061e2d373570fd3db76aa1a47...,2024-01,Thames Valley Police,Thames Valley Police,-1.685051,51.740884,On or near Park/Open Space,...,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified,GL,GL7,57400.0,8.0,9.0,433938.993304,3032.0
1797962,1797962,2994641,2994641,722d6dffcf7e283e9e2b31f6bb32bc05d7549c9f8bbafa...,2024-01,Thames Valley Police,Thames Valley Police,-1.645286,51.720608,On or near The Wickets,...,Unable to prosecute suspect,NaN,Unable to prosecute suspect,GL,GL7,57400.0,8.0,9.0,433938.993304,3032.0
1797963,1797963,2994642,2994642,03fc93d11672db7745db7f5722040f66e6359dc8b4ddc2...,2024-01,Thames Valley Police,Thames Valley Police,-1.657134,51.736998,On or near Rouses Lane,...,Unable to prosecute suspect,NaN,Unable to prosecute suspect,GL,GL7,57400.0,8.0,9.0,433938.993304,3032.0

## Create a dataframe using the ` .groupby()` code to focus on the crime type and totals per 'Postcode area'

In [3]:
postcode_crimes_total = combined_df.groupby(['Postcode area', 'Crime type', 'Price', 'Total Population']).agg({'Latitude': 'mean', 'Longitude': 'mean', 'Crime type': 'count'})
postcode_crimes_total.columns = ['Latitude', 'Longitude', 'Total Count']
postcode_crimes_total.reset_index(inplace=True)

In [4]:
postcode_crimes_total_df = postcode_crimes_total

display(postcode_crimes_total_df)

,Postcode area,Crime type,Price,Total Population,Latitude,Longitude,Total Count
0,AL,Bicycle theft,628351.268698,735580.0,51.767495,-0.274543,296
1,AL,Burglary,628351.268698,735580.0,51.773332,-0.282832,1182
2,AL,Criminal damage and arson,628351.268698,735580.0,51.772764,-0.276064,2194
3,AL,Drugs,628351.268698,735580.0,51.767540,-0.263288,680
4,AL,Other crime,628351.268698,735580.0,51.769603,-0.281222,413
...,...,...,...,...,...,...,...
457,WD,Robbery,553085.190570,711843.0,51.656664,-0.377574,240
458,WD,Shoplifting,553085.190570,711843.0,51.655749,-0.370474,2358
459,WD,Theft from the person,553085.190570,711843.0,51.656465,-0.380338,379
460,WD,Vehicle crime,553085.190570,711843.0,51.663983,-0.381729,2248
461,WD,Violence and sexual offences,553085.190570,711843.0,51.662545,-0.380016,6938

## Create a dictionary to group the 'Crime Type' into 'Severity' groupings
## This is then mapped using ` for` loops and ` groupby` onto a separate dataframe

In [5]:
# Define the mapping of crime types to severity levels
severity_mapping = {
    'High Severity': ['Violence and sexual offences','Robbery','Criminal damage and arson'],
    'Medium Severity': ['Burglary', 'Vehicle crime',  'Possession of weapons'],
    'Low Severity': ['Public order', 'Other theft', 'Drugs', 'Bicycle theft', 'Shoplifting', 'Theft from the person', 'Other crime']
}

# Reverse mapping to get severity level for each crime type
reverse_mapping = {crime: level for level, crimes in severity_mapping.items() for crime in crimes}

# Group the crime types by severity
postcode_crimes_total_df['Severity'] = postcode_crimes_total_df['Crime type'].map(reverse_mapping)

# Group by 'Postcode area' and 'Severity', then calculate total counts
postcode_crimes_total_by_severity = postcode_crimes_total_df.groupby(['Postcode area', 'Severity', 'Price', 'Total Population']).agg({'Latitude': 'mean', 'Longitude': 'mean', 'Total Count': 'sum'}).reset_index()

display(postcode_crimes_total_by_severity)

postcode_crimes_total_by_severity.to_csv('Crime_severity.csv')

,Postcode area,Severity,Price,Total Population,Latitude,Longitude,Total Count
0,AL,High Severity,6.283513e+05,735580.0,51.770940,-0.272410,10411
1,AL,Low Severity,6.283513e+05,735580.0,51.769613,-0.279135,7484
2,AL,Medium Severity,6.283513e+05,735580.0,51.770820,-0.276467,4029
3,BR,High Severity,6.153131e+05,1776908.0,51.400002,0.034485,14099
4,BR,Low Severity,6.153131e+05,1776908.0,51.400042,0.033948,10672
...,...,...,...,...,...,...,...
103,W,Low Severity,1.358564e+06,5283854.0,51.508700,-0.232598,32506
104,W,Medium Severity,1.358564e+06,5283854.0,51.509285,-0.235039,18011
105,WD,High Severity,5.530852e+05,711843.0,51.660889,-0.377077,9015
106,WD,Low Severity,5.530852e+05,711843.0,51.658350,-0.377604,7435
107,WD,Medium Severity,5.530852e+05,711843.0,51.661995,-0.380700,3540

In [7]:
# Group by 'Postcode area' and aggregate the 'Total Count' column by sum
total_count_df = postcode_crimes_total_by_severity.groupby(['Postcode area', 'Price', 'Total Population', 'Latitude', 'Longitude']).agg({'Total Count': 'sum'}).reset_index()

# Define the display format for float values
pd.options.display.float_format = '{:.2f}'.format

# Display the total count dataframe
display(total_count_df)

# Save the total count dataframe to a CSV file
total_count_df.to_csv('total_crime_severity.csv', index=False)

,Postcode area,Price,Total Population,Latitude,Longitude,Total Count
0,AL,628351.27,735580.00,51.77,-0.28,7484
1,AL,628351.27,735580.00,51.77,-0.28,4029
2,AL,628351.27,735580.00,51.77,-0.27,10411
3,BR,615313.08,1776908.00,51.40,0.04,8539
4,BR,615313.08,1776908.00,51.40,0.03,14099
...,...,...,...,...,...,...
103,W,1358563.96,5283854.00,51.51,-0.24,18011
104,W,1358563.96,5283854.00,51.51,-0.24,28638
105,WD,553085.19,711843.00,51.66,-0.38,7435
106,WD,553085.19,711843.00,51.66,-0.38,9015
107,WD,553085.19,711843.00,51.66,-0.38,3540